GIT & GIT HUB
Youtube Link = https://www.youtube.com/watch?v=xuB1Id2Wxak

Version control system.
versions/Snapshot = each changes 

USAGE
-provides a storage
-provides you with proper description
-what exactly was changed
-when it was changed

VSC Tools:
GIT,CVS,Subversion,Mercurial
